body{
    background-image: url(bg2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.nav {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right,#1e234d,white,#1e234d);}


.linav {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 59px;
    top: 16px;
    left: -31px;
}

.linav li{
    position: relative;
    background-size: 20px 20px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: sans-serif;
    cursor: pointer;

    border-radius: 5px 5px;
    text-transform: capitalize;

}


.linav li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: beige;
    bottom: -7px;
    transition-duration: 1s;

}


.linav li:hover{
    color: white;
}

li:hover::before {
    width: 100%;

}






#h2{
    color: #000000;
    text-align: center;
    margin-top: -21px;
}

#she{
    color: #000000;
}


.icon {
        position: absolute;
        list-style: none;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 59px;
        top: 34px;
        left: 64px;
        color: #ffffff;
}



.icon i {
    opacity: 30%;
    position: relative;
text-transform: capitalize;
color: white;
cursor: pointer;

animation-name: down;
     animation-duration: 10s;
     animation-delay: 5;
     animation-timing-function: ease;
        
    }
    @keyframes down {
        10%{
            opacity: 0;
        }
        20%{
            opacity: 100%;
        }
        30%{
            opacity: 0;
        }
        40%{
            opacity: 100%;
        }
        50%{
            opacity: 0;
        }
        60%{
            opacity: 100%;
        }
        70%{
            opacity: 0;
        }
        80%{
            opacity: 100%;
        }
        


    }




.icon i:hover{
    opacity: 100%;
}



#h1{
   position: relative;
   top: 50px;

        color: white;
        text-align: center;
        text-shadow: 3px 6px 10px black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation-name: up;
  animation-duration: 1s;
 animation-delay: 0;
 animation-timing-function: ease;
 animation-direction: alternate;
}

@keyframes up {

    10%{
       top: 100px;
       opacity: 60%;
       color: #151f74;
    }
    20%{
        timeline-scope: 80px;
        opacity: 70%;

        color: #313b99
    }
    30%{
        timeline-scope: 70px;
        opacity: 80%;

        color: #3c49b9
    }
    40%{
        timeline-scope: 60px;
        opacity: 90%;

        color: #b8bef8
    }
    50%{
        timeline-scope: 50px;
        opacity: 100%;

        color: #ffffff
    }
    
}




.content{
width: 250px;
height: 250px;
background-image: url(koutch2.jpg);
border-radius: 10px 10px;
position: absolute;
top: 50%;
right: 43%;
}


.content2{
    width: 250px;
    height: 250px;
    background-image: url(koutch2.jpg);
    border-radius: 10px 10px;
    position: absolute;
    top: 50%;
    right: 70%;
    }








.color li img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -211px;
    right: -31px;
    cursor: pointer;

}

.color2 li img {
    width: 275px;
    height: 155px;
    position: absolute;
    top: -192px;
    left: -11px;
    transform: rotate(-31deg);
    cursor: pointer;


}





ul{
    position: relative;
    top: 200px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.active{
    display: none;
}

.active2{
    display: none;
}

#white {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        outline: 2px solid white;
        list-style: none;
        cursor: pointer;

    }
     
#black{
    list-style: none;

        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        outline: 2px solid rgb(0, 0, 0);
        cursor: pointer;
    }




    
#red {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(55, 0, 255);
    outline: 2px solid white;
    list-style: none;
    cursor: pointer;

}
 
#blue{
list-style: none;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    outline: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

   
    @media screen and (max-width:380px) {


        .content{
            width: 250px;
            height: 250px;
            background-image: url(koutch2.jpg);
            border-radius: 10px 10px;
            position: absolute;
            top: 50%;
            right: 15%;
            }

            .content2{
                top: 99%;
                right: 16%;

            }






            .linav {
                
                gap: 9px;
                left: -12px;
                
           ;
            }
          
          
                .icon {
                   
                    gap: 59px;
                    top: 75px;
                     left: 85px;
                   
                }


                body{
                    background-image: url(bg2.jpg);
                    background-size: contain;
                   
                    background-repeat: repeat;
                    background-attachment: fixed;
                }
                #h2{
                    margin-top: -21px;
                    margin-right: 253px;
                    font-size: medium;
                }
                .linav li{
                    color: black;
                }
                .nav{
                    background-image: linear-gradient(to right,rgb(205, 205, 255),rgb(129, 0, 235));
                }
            
            }
        
            
    